service: mybank-backend

frameworkVersion: ">=1.1.0 <2.0.0"

provider:
  name: aws
  runtime: nodejs8.10
  region: ap-southeast-2
  stage: dev
  apiKeys:
    - ${opt:stage, self:provider.stage}-apikey
  usagePlan:
    quota:
      limit: 5000
      offset: 2
      period: MONTH
    throttle:
      burstLimit: 20
      rateLimit: 10
  environment:
    PAYEES_TABLE: payees-${opt:stage, self:provider.stage}
    ACCOUNTS_TABLE: accounts-${opt:stage, self:provider.stage}
    ACCOUNTS_DETAILS_TABLE: accounts-details-${opt:stage, self:provider.stage}
    BALANCES_TABLE: balances-${opt:stage, self:provider.stage}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.PAYEES_TABLE}"
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.ACCOUNTS_TABLE}"
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.BALANCES_TABLE}"
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.ACCOUNTS_DETAILS_TABLE}"

plugins:
  - serverless-dynamodb-local
  - serverless-offline #serverless-offline needs to be last in the list

custom:
  dynamodb:
    start:
      migrate: true
      inMemory: false
      seed: true
    seed:
      domain:
        sources:
          - table: payees-dev
            sources: [./data/payees.json]
          - table: accounts-dev
            sources: [./data/accounts.json]
          - table: accounts-details-dev
            sources: [./data/accounts_details.json]
          - table: balances-dev
            sources: [./data/balances.json]

functions:
  auth-jwt-token:
    handler: auth/dummy_authorizer.auth
    cors: true
  accounts:
    handler: accounts/accounts.handler
    events:
      - http: 
          path: '/cds-au/v1/banking/accounts'
          method: ANY
          cors: true
          private: true
          authorizer: 
            name: auth-jwt-token
            identitySource: method.request.header.Authorization
            type: token
      - http: 
          path: '/cds-au/v1/banking/accounts/{accountId}'
          method: ANY
          cors: true
          private: true
          authorizer: 
            name: auth-jwt-token
            identitySource: method.request.header.Authorization
            type: token

  balances:
    handler: accounts/balances.handler
    events:
      - http: 
          path: '/cds-au/v1/banking/accounts/balances'
          method: POST
          cors: true
          private: true
          authorizer: 
            name: auth-jwt-token
            identitySource: method.request.header.Authorization
            type: token
      - http: 
          path: '/cds-au/v1/banking/accounts/balances'
          method: GET
          cors: true
          private: true
          authorizer: 
            name: auth-jwt-token
            identitySource: method.request.header.Authorization
            type: token

  list:
    handler: payees/list.list
    events:
      - http:
          path: '/cds-au/v1/banking/payees'
          method: get
          cors: true
          private: true
          authorizer: 
            name: auth-jwt-token
            identitySource: method.request.header.Authorization
            type: token

  get:
    handler: payees/get.get
    events:
      - http:
          path: '/cds-au/v1/banking/payees/{id}'
          method: get
          cors: true
          private: true
          authorizer: 
            name: auth-jwt-token
            identitySource: method.request.header.Authorization
            type: token

  create:
    handler: payees/create.create
    events:
      - http:
          path: payees
          method: post
          cors: true

  update:
    handler: payees/update.update
    events:
      - http:
          path: payees/{id}
          method: put
          cors: true

  delete:
    handler: payees/delete.delete
    events:
      - http:
          path: payees/{id}
          method: delete
          cors: true

resources:
  Resources:
    PayeesDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: customerId
            AttributeType: S
          -
            AttributeName: payeeId
            AttributeType: S
        KeySchema:
          -
            AttributeName: customerId
            KeyType: HASH
          -
            AttributeName: payeeId
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ${self:provider.environment.PAYEES_TABLE}
    AccountsDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: customerId
            AttributeType: S
          - 
            AttributeName: accountId
            AttributeType: S
        KeySchema:
          -
            AttributeName: customerId
            KeyType: HASH
          -
            AttributeName: accountId
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ${self:provider.environment.ACCOUNTS_TABLE}
    AccountsDetailsDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: customerId
            AttributeType: S
          - 
            AttributeName: accountId
            AttributeType: S
        KeySchema:
          -
            AttributeName: customerId
            KeyType: HASH
          -
            AttributeName: accountId
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ${self:provider.environment.ACCOUNTS_DETAILS_TABLE}
    BalancesDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: customerId
            AttributeType: S
          - 
            AttributeName: accountId
            AttributeType: S
        KeySchema:
          -
            AttributeName: customerId
            KeyType: HASH
          -
            AttributeName: accountId
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ${self:provider.environment.BALANCES_TABLE}
